.row {
  display: inline-block;
}
.cell {
  border: black solid 2px;
  height: 150px;
  width: 150px;
  border-radius: 20%;
  margin: 2px;
  border: .5em solid #FF9966;
  background-color: white;
}

.cell:hover {
  /*background-color:#FFFFCC;*/ /*beige*/
  /*background-color:#FFCCFF;*/ /*light purple*/
  /*background-color: #FF0000;*/ /*red */
  background-color:#FF3300;
}

.board {
  width: 700px;
  border: 2em solid #99FFCC;
  text-align: center;
  position: relative;
  margin: auto;
  margin-bottom: 200px;
}

h1 {
  text-align: center;
  font-size: 5em;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #CC99FF;
}

.welcome-header {
  margin: auto;
  text-align: center;
}

.shake {
  margin: 20px;
  height: 50px;
  width: 200px;
  border-radius: 22%;
  font-size: 28px;
  font-weight: bold;
}

.shake:hover {
  background-color: #FFFFCC
}