Boggle!

<div class= "container">
  <div class="row">
    <% for i in 0..3 %>
      <div id = "index-'<%=i%>'"> &nbsp;</div> %>
    <% end %>
  </div>

  <div class="row">
    <% for i in 4..7 %>
      <div id = "index-'<%=i%>'"> &nbsp;</div> %>
    <% end %>
  </div>

  <div class="row">
    <% for i in 8..11 %>
      <div id = "index-'<%=i%>'"> &nbsp;</div> %>
    <% end %>
  </div>

  <div class="row">
    <% for i in 12..15 %>
      <div id = "index-'<%=i%>'"> &nbsp;</div> %>
    <% end %>
  </div>
</div>